@charset "UTF-8";
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: "Nunito Sans", sans-serif;
}

div.caixa-principal {
    height:100vh;
    width: 100%;
    background-color: #191919;
}

img.foto-pg {
    width:570px;
    height:580px;
    position: absolute;
    top:20%;
    margin-left: 50%;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 30px;
    padding-right: 30px;
    padding-top:20px;
}

.portfolio {
    color: #ffffff;
    font-size: 35px;
    font-weight: 500px;
}

.portfolio > span {
    color: #f9004d;
}

li {
    color:white;
    display: inline-block;
    margin: 20px;
    font-size: 20px;
}

li > a {
    color: white;
    text-decoration: none;
    font-weight: 400;
}

li > a:hover {
    cursor: pointer;
    color: #f9004d;
    transition: 0.5s;
}

div.meu-nome {
    position: absolute;
    top: 50%;
    margin-left: 7%;
}

h1 {
    color: white;
    font-size: 75px;
}

h1 > span {
    color:#f9004d;
}

div.meu-nome > h3 {
    color: white;
    font-size: 25px;
}

section {
    display: flex;
    align-items: center;
    padding: 60px 15%;
    background-color:black;
}
section > img {
    width:570px;
    border-radius: 50%;
    border:2px solid #f9004d;
    margin-right:40px;
}

section > div > h2 {
    color: white;
    font-size: 75px;
}

section > div > p {
    color:#e2b9c6;
    font-size: 24px;
    margin-top: 15px;
    margin-bottom: 15px;
}

section > div > button {
    color: white;
    background-color:#f9004d;
    width: 180px;
    height: 45px;
    border: none;
    border-radius: 16px;
    font-size: 18px;
}

section > div > button:hover {
    background-color: black;
    border: 2px solid #f9004d;
    transition: 0.5s;
    cursor: pointer;
}

div.projetos {
    background-color: #191919;
}

div.projetos > h2 {
    color:white;
    font-size: 75px;
    text-align: center;
}

div.card {
    background-color: black;
    height:400px;
    width: 335px;
    border-radius:20px;
    padding: 20px 35px;
    text-align: center;
}

div.card > img {
    height: 100px;
}

div.card > h5 {
    color: white;
    font-size: 24px;
    font-family: "Kanit", sans-serif;
    font-weight: normal;

}

div.card > p {
    color:#e2b9c6;
    margin: 20px 0px;
}

div.card > a {
    color: white;
    text-decoration: none;
    background-color: #f9004d;
    padding: 10px 20px;
    border-radius: 25px;
}

div.card > a:hover {
    cursor: pointer;
    background-color:transparent;
    border: 2px solid #f9004d;
    transition: 0.5s;
}


